In [5]:
import sqlite3
db=sqlite3.connect("Employee.sqlite")
curr=db.cursor()
curr.execute("create table Employee_Detail(employee_id int primary key,name varchar(100),age int,department varchar(100),salary int)")
curr.execute("insert into Employee_Detail values(100,'Rishav',25,'Marketing',50000)")
curr.execute("insert into Employee_Detail values(101,'Abhishek',26,'Operations',60000)")
curr.execute("insert into Employee_Detail values(102,'Aman',24,'Human Resources',75000)")
db.commit()
db.close()

In [7]:
db=sqlite3.connect("Employee.sqlite")
curr=db.cursor()
curr.execute("delete from Employee_detail where employee_id=101")
db.commit()
db.close()

In [9]:
db=sqlite3.connect("Employee.sqlite")
curr=db.cursor()
values=(102,)
curr.execute("delete from Employee_detail where employee_id=?",values)
db.commit()
db.close()

In [11]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]


db=sqlite3.connect("Employee.sqlite")
curr=db.cursor()
values=[]
for i in range(len(employee_id)):
    values.append((employee_id[i],name[i],age[i],department[i],salary[i]))
curr.executemany("insert into Employee_Detail values(?,?,?,?,?)",values)
db.commit()
db.close()

In [13]:
db=sqlite3.connect("Employee.sqlite")
curr=db.cursor()
curr.execute("select employee_id from Employee_Detail where department=?",("Finance",))
for row in curr:
    print(*row)
db.close()

103
107

In [23]:
db=sqlite3.connect("Employee.sqlite")
curr=db.cursor()
curr.execute("select department,count(*) from Employee_Detail group by department")
for row in curr.fetchall():
    print(*row)
db.close()

Finance 2
Human Resource 2
IT 2
Marketing 4
Operations 2