In [61]:
import sqlite3
import pandas as pd
import numpy as np

In [32]:


db=sqlite3.connect('IMDB.sqlite')

imdb=pd.read_sql_query("Select * from IMDB",db)

genre=pd.read_sql_query("Select * from genre",db)

genre_name=genre['genre'].value_counts().index

genre_count=genre['genre'].value_counts().values
for i in range(len(genre_name)):
    if genre_name[i]!='':
        print(genre_name[i],genre_count[i])
db.close()

Drama 77
Adventure 43
Action 33
Comedy 31
Biography 21
Sci-Fi 18
Thriller 14
Animation 13
Romance 13
Crime 11
Mystery 7
Fantasy 7
History 6
Family 3
Music 3
Sport 3
War 2
Western 2
Horror 2
Musical 1

In [64]:
db=sqlite3.connect('IMDB.sqlite')

imdb=pd.read_sql_query("select * from IMDB",db)
earning=pd.read_sql_query("select * from earning",db)
genre=pd.read_sql_query("select * from genre",db)

imdb_earning=pd.merge(imdb,earning,on="Movie_id")

imdb_earning["Domestic"].replace("",0,inplace=True)
imdb_earning["Worldwide"].replace("",0,inplace=True)

imdb_earning["Total Earning"]=imdb_earning["Domestic"]+imdb_earning["Worldwide"]

print(imdb_earning[imdb_earning["Total Earning"]==max(imdb_earning["Total Earning"])]["Rating"].values[0])
db.close()

8.1

In [89]:
db=sqlite3.connect('IMDB.sqlite')

imdb=pd.read_sql_query("select * from IMDB",db)

imdb_max_votes=max(imdb["TotalVotes"])
data = imdb[imdb["TotalVotes"]==imdb_max_votes]
print(data["Title"].values[0],data["Rating"].values[0])
db.close()

Inception (2010) 8.8

In [100]:
db=sqlite3.connect('IMDB.sqlite')

imdb=pd.read_sql_query("select * from IMDB",db)
imdb["Runtime"].replace("","0",inplace=True)
def f(c):
    return int(c.split()[0])

imdb["Runtime"]=imdb["Runtime"].apply(f)

imdb_max_runtime=max(imdb["Runtime"])

data = imdb[imdb["Runtime"]==imdb_max_runtime]
print(data["Title"].values[0],data["Runtime"].values[0],"min")
db.close()

The Wolf of Wall Street (2013) 180 min

In [105]:
db=sqlite3.connect('IMDB.sqlite')

imdb=pd.read_sql_query("select * from IMDB",db)
earning=pd.read_sql_query("select * from earning",db)

imdb_earning=pd.merge(imdb,earning,on="Movie_id")

imdb_earning["Domestic"].replace("",0,inplace=True)
imdb_earning["Worldwide"].replace("",0,inplace=True)
imdb_earning["Budget"].replace("",0,inplace=True)

imdb_earning["Profit"]=imdb_earning["Domestic"]+imdb_earning["Worldwide"]-imdb_earning["Budget"]

imdb_profit=max(imdb_earning["Profit"])
data = imdb_earning[imdb_earning["Profit"]==imdb_profit]
print(data["Title"].values[0])
db.close()

Star Wars: The Force Awakens (2015)

In [110]:
db=sqlite3.connect('IMDB.sqlite')

imdb=pd.read_sql_query("select * from IMDB",db)
earning=pd.read_sql_query("select * from earning",db)

imdb_earning=pd.merge(imdb,earning,on="Movie_id")
imdb_earning = imdb_earning[imdb_earning['Budget'] != '']

imdb_earning["Domestic"].replace("",0,inplace=True)
imdb_earning["Worldwide"].replace("",0,inplace=True)
imdb_earning["Budget"].replace("",0,inplace=True)

imdb_earning["Profit"]=imdb_earning["Domestic"]+imdb_earning["Worldwide"]-imdb_earning["Budget"]

least_budget=min(imdb_earning["Budget"])


data = imdb_earning[imdb_earning["Budget"]==least_budget]
print(data["Title"].values[0])
db.close()

Short Term 12 (2013)

# IMDB Year Top

In [36]:
db=sqlite3.connect('IMDB.sqlite')

imdb=pd.read_sql_query("select * from IMDB",db)
earning=pd.read_sql_query("select * from earning",db)
genre=pd.read_sql_query("select * from genre",db)

imdb_earning=pd.merge(imdb,earning,on="Movie_id")

def f(c):
    return (c.split()[-1]).strip("()")

imdb_earning["Year"]=imdb_earning["Title"].apply(f)

imdb_earning["Domestic"].replace("",0,inplace=True)
imdb_earning["Worldwide"].replace("",0,inplace=True)

imdb_earning["Total Earning"]=imdb_earning["Domestic"]+imdb_earning["Worldwide"]
year=sorted(imdb_earning["Year"].value_counts().index)             ########################

for i in range(len(year)):
    earning=max(imdb_earning[imdb_earning["Year"]==year[i]]["Total Earning"])
    name=imdb_earning[imdb_earning["Total Earning"]==earning]["Title"]
    print(year[i],name.values[0])
db.close()

2010 Toy Story 3 (2010)
2011 Rise of the Planet of the Apes (2011)
2012 The Avengers (2012)
2013 The Hunger Games: Catching Fire (2013)
2014 Guardians of the Galaxy (2014)
2015 Star Wars: The Force Awakens (2015)
2016 Rogue One (2016)

# IMDB genre budget

In [66]:
db=sqlite3.connect('IMDB.sqlite')

imdb=pd.read_sql_query("select * from IMDB",db)
earning=pd.read_sql_query("select * from earning",db)
genre=pd.read_sql_query("select * from genre",db)

movie_id=genre["Movie_id"].value_counts().index

genre_array=[]
for i in range(len(movie_id)):
    single_genre=[]
    single=genre[genre["Movie_id"]==movie_id[i]]["genre"].values
    single_genre.append(movie_id[i])
    for j in single:
        single_genre.append(j)
    genre_array.append(single_genre)
    
new_genre=pd.DataFrame(genre_array,columns=["Movie_id","genre_1","genre_2","genre_3"])

result=pd.merge(imdb,new_genre,on="Movie_id")

result["Budget"].replace("",0,inplace=True)

genre_1_name=result.groupby("genre_1")["Budget"].sum().index
genre_1_amount=result.groupby("genre_1")["Budget"].sum().values
genre_2_name=result.groupby("genre_2")["Budget"].sum().index
genre_2_amount=result.groupby("genre_2")["Budget"].sum().values
genre_3_name=result.groupby("genre_3")["Budget"].sum().index
genre_3_amount=result.groupby("genre_3")["Budget"].sum().values

genre_name={}
for i in range(len(genre_1_name)):
    genre_name[genre_1_name[i]]=genre_1_amount[i]
for i in range(len(genre_2_name)):
    if genre_2_name[i] in genre_name:
        genre_name[genre_2_name[i]]=genre_name.get(genre_2_name[i])+genre_2_amount[i]
    else:
        genre_name[genre_2_name[i]]=genre_2_amount[i]
for i in range(len(genre_3_name)):
    if genre_3_name[i] in genre_name:
        genre_name[genre_3_name[i]]=genre_name.get(genre_3_name[i])+genre_3_amount[i]
    else:
        genre_name[genre_3_name[i]]=genre_3_amount[i]
del genre_name[""]

genre_names=np.array(list(genre_name.keys()))
genre_amount=np.array(list(genre_name.values()))

perAmount=np.true_divide(genre_amount,genre_amount.sum())*100

for i in range(len(genre_names)):
    print(genre_names[i],format(perAmount[i],".2f"))

db.close()

Action 17.98
Adventure 25.10
Animation 7.66
Biography 2.59
Comedy 7.22
Crime 1.77
Drama 10.85
Mystery 1.95
Family 1.91
Fantasy 4.54
History 0.72
Horror 0.03
Music 0.15
Musical 0.25
Romance 1.12
Sci-Fi 10.77
Sport 0.46
Thriller 3.99
War 0.36
Western 0.57

# IMDB genre earning

In [111]:
db=sqlite3.connect("IMDB.sqlite")

imdb=pd.read_sql_query("select * from imdb",db)
earning=pd.read_sql_query("select * from earning",db)
genre=pd.read_sql_query("select * from genre",db)

movie_id=genre["Movie_id"].value_counts().index

genre_array=[]

for i in range(len(movie_id)):
    single_genre=[]
    single = genre[genre["Movie_id"]==movie_id[i]]["genre"].values
    single_genre.append(movie_id[i])
    for i in single:
        single_genre.append(i)
    genre_array.append(single_genre)

new_genre=pd.DataFrame(genre_array,columns=["Movie_id","genre_1","genre_2","genre_3"])

result=pd.merge(imdb,new_genre,on="Movie_id")

earning["Domestic"].replace("",0,inplace=True)
earning["Worldwide"].replace("",0,inplace=True)
earning["Total Earning"]=earning["Domestic"]+earning["Worldwide"]

imdb_earning_genre = pd.merge(result,earning,on="Movie_id")

genre_1_name = imdb_earning_genre.groupby("genre_1")["Total Earning"].sum().index
genre_1_earning = imdb_earning_genre.groupby("genre_1")["Total Earning"].sum().values
    
genre_2_name = imdb_earning_genre.groupby("genre_2")["Total Earning"].sum().index
genre_2_earning = imdb_earning_genre.groupby("genre_2")["Total Earning"].sum().values

genre_3_name = imdb_earning_genre.groupby("genre_3")["Total Earning"].sum().index
genre_3_earning = imdb_earning_genre.groupby("genre_3")["Total Earning"].sum().values

genre_dict={}

for i in range(len(genre_1_name)):
    genre_dict[genre_1_name[i]] = genre_1_earning[i]
    
for i in range(len(genre_2_name)):
    if genre_2_name[i] in genre_dict:
        genre_dict[genre_2_name[i]] = genre_dict.get(genre_2_name[i]) + genre_2_earning[i]
    else:
        genre_dict[genre_2_name[i]] = genre_2_earning[i]

for i in range(len(genre_3_name)):
    if genre_3_name[i] in genre_dict:
        genre_dict[genre_3_name[i]] = genre_dict.get(genre_3_name[i]) + genre_3_earning[i]
    else:
        genre_dict[genre_3_name[i]] = genre_3_earning[i]
del genre_dict[""]
        
genre_name_np = np.array(list(genre_dict.keys()))
genre_earning_np = np.array(list(genre_dict.values()))

perAmount = np.true_divide(genre_earning_np,genre_earning_np.sum())*100

for i in range(len(genre_name_np)):
    print(genre_name_np[i],format(perAmount[i],".2f"))
    
db.close()

Action 17.91
Adventure 23.57
Animation 6.77
Biography 3.42
Comedy 7.69
Crime 1.55
Drama 11.96
Mystery 2.01
Family 1.05
Fantasy 5.15
History 1.04
Horror 0.01
Music 0.43
Musical 0.38
Romance 1.45
Sci-Fi 9.95
Sport 0.32
Thriller 4.42
War 0.25
Western 0.65

# IMDB Specific Genre

In [140]:
db=sqlite3.connect("IMDB.sqlite")

imdb=pd.read_sql_query("select * from imdb",db)
earning=pd.read_sql_query("select * from earning",db)
genre=pd.read_sql_query("select * from genre",db)

movie_id = genre["Movie_id"].value_counts().index

genre_array = []

for i in range(len(movie_id)):
    single_genre = []
    single = genre[genre["Movie_id"]==movie_id[i]]["genre"].values
    single_genre.append(movie_id[i])
    for i in single:
        single_genre.append(i)
    genre_array.append(single_genre)

new_genre = pd.DataFrame(genre_array,columns=["Movie_id","genre_1","genre_2","genre_3"])

result=pd.merge(imdb,new_genre,on="Movie_id")

sci_genre = result[(result["genre_1"]=="Sci-Fi") | (result["genre_2"]=="Sci-Fi") | (result["genre_3"]=="Sci-Fi")]

mys_genre = sci_genre[(sci_genre["genre_1"]=="Mystery") | (sci_genre["genre_2"]=="Mystery") | (sci_genre["genre_3"]=="Mystery")]

print(mys_genre[mys_genre["Rating"] >= 8]["Title"].values[0])

Arrival (2016)